<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Boston Condos</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="static/css/phones.min.css">

    <!-- Custom styles for this template -->
    <link href="static/css/new-age.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Motivation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Design</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Provide photo search           to the Boston condo real estate market through Convolutional Neural Network!</h1>
              <a href="{{ url_for('info') }}" class="btn btn-outline btn-xl js-scroll-trigger">Start Now!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="static/img/stack.png" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Motivation</h2>
              <p>“I found the perfect apartment   …and I want to find others like it.”</p>
              <br>
              <p>Go on realtor websites and spend an exhausting search looking through pictures.  Realize your ONLY capability is limited filtered parameters such as number of beds, baths, etc.</p>

              <p>So how do you define “give me a condo that I like” in your search?</p>
              <br>
          </div>
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Goals</h2>
              <p>We offer a product for customers to search for their perfect apartment through image similarity using neural networks.</p>
              <br>
              <p>The ideal apartment can be found in passing through a real estate website, social media, or an open house. However, our product takes the next step to recommend condos with shared similar features.</p>
              <br>
              <p>Discovering features from pattern recognition of color, shapes, and dimensions allow us to capture the subjective criteria of the apartment.<p>
              <br>
              <p>We intend to find the “feeling” determined by a customer, which is very difficult to meaningfully describe. Hence, our goal is to answer the question, “can you provide me listings based on what I feel is important?”</p>
          </div>
        </div>
      </div>
    </section>
    <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Design</h2>
          <p class="text-muted"></p>
          <hr>
        </div>
          <div class="col">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
        <!--           <div class="feature-item"> -->
                   <h3>Initial Proposal
                    <i class="icon-screen-smartphone text-primary"></i>
                    Swipe Bootstrap without Learned Example</h3>
                    <p class="text-muted">Initially we had not put much stock into creating a visually appealing site.  Regardless, we learned a few design principles to at least improve the current state.    <img src="static/img/oldcover.png" class="img-fluid" alt="Responsive image"></p>
                 <!--  </div> -->
                </div>
                <br>
                <br>                 
                <div class="col-12">
                <!--   <div class="feature-item"> -->
                    <h3>Final Design
                    <i class="icon-camera text-primary"></i>
                    Alter Design to Human Psychology</h3>
                    <p class="text-muted">We pulled a script on the periodic table of elements from the web and adjusted the design to reflect
the human reaction of how a web site is viewed, generally starting from the top left corner and ending in the direction at the bottom right corner.  The arrows, shown in the graph below, represent eye movement where you will notice how we eliminated any obstacles in its path. The exception was our company motto “Boston Condo Connections”, which we intended for the user to focus their attention.  Moreover, we could make another revision by placing "CNN reaction" closer to the line of sight.</p>  
<p class="text-muted">
We also chose a visually appealing color palette of blue to influence the user with a tranquil psychological impact.  Color choice is an important factor to branding with examples learned of sports sites with black outlines to represent power and strength and health sites with shades of orange to promote optimism.  
    <img src="static/img/cnnarrow.png" class="img-fluid" alt="Responsive image">

</p><p class="text-muted">
Three of the largest real estate sites (zillow, realtor.com, trulia) all have white backgrounds to show cleanliness and safety, in line with representing images of potential homes.  As a result, we transitioned from a black background on the cover page to represent the power and strength of machine learning by the CNN and followed suit in color scheme with industry norm to the other pages of our application.</p>
                <!--   </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col">
                 <!--  <div class="feature-item"> -->
                    <h3>Initial Proposal
                    <i class="icon-present text-primary"></i>
                    Train our own Model</h3>
                    <p class="text-muted">There was an initial push for a CNN to take an image and adjust the feature training dealing with convolutions, pooling, and otherwise changing the layers to the neural network.  Moreover, the classification to the CNN would include weighting labels for rooms such as a kitchen by countertop, stove, refrigerator, etc.<img src="static/img/notaccurate.png" class="img-fluid" alt="Responsive image"> </p>
                      <p class="text-muted">
Given the time frame of the project, Jasmine and Michelle recommended that we not train our own network.  This was salient advice as our first prediction resulted in accuracy of less than 20%.  Even if adjustments weights to labels were optimized and accuracy improved, critical factors would have been excluded such as ceiling height, floor type, open windows, etc.</p>
                 <!--  </div> -->
                </div>
                <br> 
                <br>                                
                <div class="col-12">
             <!--      <div class="feature-item"> -->
                    <h3>Final Design
                    <i class="icon-lock-open text-primary"></i>
                    Pretained CNN</h3>
                    <p class="text-muted">Ultimately, we decided to use Keras and the pretrained model of VGG16.  In addition, the prediction method of the pre-trained model uses an algorithm in the numpy library to match similar objects by euclidian distance.  The lesson learned that is more training data is required for more training iterations and weight updates, in order to make better predictions in the network.<img src="static/img/vgg16.png" class="img-fluid" alt="Responsive image">
</p>
              <!--     </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col">
                 <!--  <div class="feature-item"> -->
                    <h3>Initial Proposal
                    <i class="icon-screen-smartphone text-primary"></i>
                    Normalized Database</h3>
                    <p class="text-muted">The initial proposal was to design a normalized database schema.</p>
              <!--     </div> -->
                </div>
                <br>
                <br>                                  
                <div class="col-12">
                <!--   <div class="feature-item"> -->
                    <h3>Final Design
                    <i class="icon-camera text-primary"></i>
                    Keep it Simple Database</h3>
                    <p class="text-muted">Given that the project scope allowed for 4 tables to efficiently run the application, there was no need to over-engineer the project and branch out the tables any further.</p>
               <!--    </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>

          <div class="col-md-8 mx-auto">
            <div class="section-heading text-center">
              <h2>Project Plan</h2>
              <hr>
            </div>
              <p class="text-muted">Machine Learning (2 weeks):</p>
                <ul>
                  <li>Investigate and apply CNN including feature selection and classification</li>

                  <li>Learn to Build and Train the Model with Features</li>

                  <li>Save and Load the Trained Model</li>

                  <li>Investigate alternative Pre-Trained model using Keras with VGG16 for feature selection and numpy library with euclidean distance algorithm for classification</li>
                </ul>

              <p class="text-muted">User Application (6 days):</p>
                <ul>
                  <li>Design and build application in Flask</li>
                  <li>Create user functionalities such as picture upload, results prediction, and favorites.</li>
                  <li>Database in PostgreSQL to retrieve results</li>
                </ul>


              <p class="text-muted">Visualization (4 days):</p>
                <ul>
                  <li>Visualize results from CNN prediction</li>
                </ul>

              <p class="text-muted">Team will iteratively complete each section together and git merge code within repository.
              We will create new functionality such as a mobile option. 
              </p>
          </div>
        </div>
      </div>
    </section>
    <img src="static/img/plan.png" class="img-fluid" alt="Responsive image">

    <section class="cta">
      <div class="cta-content">
        <div class="container">
                <p style="color:white">DATA SOURCES: Boston mls (market listing service) data provided by Zona Kostic at Harvard University</p>
        </div>
      </div>
      <div class="overlay"></div>
    </section>



    <footer>
      <div class="container"  id="contact">
        <h2 style="color:white">Contact</h2>

          <p><a style="color:white" href="mailto:adam.shapiro595@gmail.com"> Adam Shapiro  </a> | <a style="color:white" href="mailto:frederec.im@gmail.com">  Fred Im </a></p>

          <p><a style="color:white" href="https://faspeculator.herokuapp.com"> URL  </a> | <a style="color:white" href="https://github.com/fimhub/speculator">  GitHub </a></p>

      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/new-age.min.js"></script>

  </body>

</html>