{% extends "layout.html" %}
{% block content %}

    <input id="image-selector" type="file">    
    <button id="predict-button">Predict</button>
    <p style="font-weight:bold">Predictions</p>    
    <p>Condo 1: <span id="condo-one-prediction"></span></p>
    <p>Condo 2: <span id="condo-two-prediction"></span></p>
    <img id="selected-image" src=""/>
       
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        let base64Image;
        $("#image-selector").change(function() {
            let reader = new FileReader();
            reader.onload = function(e) {
                let dataURL = reader.result;
                $('#selected-image').attr("src", dataURL);
                base64Image = dataURL.replace("data:image/png;base64,","");
                console.log(base64Image);
            }
            reader.readAsDataURL($("#image-selector")[0].files[0]);
            $("#condo-one-prediction").text("");
            $("#condo-two-prediction").text("");
        });
        
        $("#predict-button").click(function(){
            let message = {
                image: base64Image
            }
            console.log(message);
            $.post("http://10.0.0.4:5000/prediction", JSON.stringify(message), function(response){
                $("#condo-one-prediction").text(response.prediction.dog.toFixed(6));
                $("#condo-two-prediction").text(response.prediction.cat.toFixed(6));
                console.log(response);
            });
        });       
    </script>




{% endblock %}