{% extends "layout.html" %}
{% block content %}


<ul class="nav">
    {% if username is defined %}
    <li class="nav-link"><a href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
    <li class="nav-link"><a href="{{ url_for('login') }}">Log In</a></li>
    <li class="nav-link"><a href="{{ url_for('signup') }}">Sign Up</a></li>
    {% endif %}
</ul>

<br>
<br>
<br>

    <input id="image-selector" type="file">
    <a class="btn btn-primary" id="predict-btn" role="button">Predict</a>
    <button id="predict-btn">Predict</button>
    <br>
    <br>


    <p style="font-weight:bold">Predictions</p>    
    <p>Condo 1: <span id="condo-one-prediction"></span></p>
    <p>Condo 2: <span id="condo-two-prediction"></span></p>
    <img id="selected-image" src=""/>
       
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>

        let base64Image;
        $("#btn").change(function() {
            let reader = new FileReader();
            reader.onload = function(e) {
                let dataURL = reader.result;
                $('#selected-image').attr("src", dataURL);
                base64Image = dataURL.replace("data:image/png;base64,","");
                console.log(base64Image);
            }
            reader.readAsDataURL($("#btn")[0].files[0]);
            $("#condo-one-prediction").text("");
            $("#condo-two-prediction").text("");
        });
        
        $("#predict-btn").click(function(){
            let message = {
                image: base64Image
            }
            console.log(message);
            $.post("http://10.0.0.4:5000/prediction", JSON.stringify(message), function(response){
                $("#condo-one-prediction").text(response.prediction.condo.toFixed(6));
                $("#condo-two-prediction").text(response.prediction.condo.toFixed(6));
                console.log(response);
            });
        });       
    </script>

{% endblock %}


