{% extends "layout.html" %}
{% block content %}


<!-- favorites section of user account with favorites: MLS link, bed, bath, listing price, pic of house, REMOVE (unfavorite) button. -->


<section class="content-section">
  <div class="container text-center">

      <!-- if user in session -->
    {% if session_username is defined %}
     <div>
       <a class="btn btn-secondary" href="{{ url_for('index') }}">Home</a>
     </div>
   
          <div class="row">
          <h1> <!-- session username's favorites  --> </h1>
          <!-- Home button  --> 
          </div>
          <br>

        <!-- for every listing in favorites  --> 
        {% for condo in condos %}
          <div class="row">
            <div class="col-sm-3">
              </div>   

              <div class="col-sm-3">
              <img width=200 height=200 class="img-thumbnail" src="{{ condo.photo_url }}"> <!-- add SOURCE --> 
              </div>  

              <div class="col-sm-6 text-left">          
                 <h4> MLS number:<a href="{{ url_for('info', mlsnum=condo.mlsnum) }}">{{ condo.mlsnum }}</a> <!-- add MLS number --> </h4>
                  <p>Beds Number: {{ condo.beds }} <!-- add Beds # here --> <br>
                  Baths Number: {{ condo.baths }} <!-- add Baths # here --> <br>
                  Listing Price: $ {{ condo.list_price }} <!-- add Listing price here --> </p>

                  <!-- Remove Button --> 
                  <form action="/unlike/{{condo.mlsnum}}" method="POST">
                    <button type="submit"> REMOVE </button> 
                  </form>
              </div> 
          </div>   
        {% endfor %}  
    

        <!-- end for --> 
        <!-- end if --> 


    {% else %}
    
     <div>
       <a class="btn btn-secondary" href="{{ url_for('index') }}">Home</a>
     </div>    
      
    {% endif %} 
  </div>
</section>

{% endblock %}
